html, body {
  
}
@font-face{
  font-family: Avenir-Light;
  src: url(Fonts/Avenir/Avenir-Light.ttf);
}

@font-face{
  font-family: Avenir-Medium;
  src: url(Fonts/Avenir/Avenir-Medium.ttf);
}
h1{font-family: Avenir-Medium;}
p{font-family: Avenir-Light;}


canvas {
  display: block;
}
